@font-face {
	font-family: 'Cormorant';
	src: url(‘/fonts/Cormorant-SemiBold.ttf’) format(‘truetype’)
}

body {
    font-family: 'Cormorant', serif;
}

#navbarColor {
    background-color: rgb(42, 42, 114);
    font-size: 23px;
}

#navbarNav {
    justify-content: flex-end;
}

#castleTitle {
    text-align: center;
    margin:40px 0 40px 0;

}

#castleImg {
    width: 100%;
    height: auto;
}